# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
services/server/.logs

# Function storage
services/server/functions


.go-build-cache
data
bundoc-server/bundoc-server
bundoc-server/main


quickjs-ng
certs/server.crt
certs/server.key
bun-kms/bunkms-cli
bun-kms/bunkms-loadtest
bunder-manager/bunder-manager
certs
