http:
  routers:
    platform:
      rule: "PathPrefix(`/api`) || Path(`/health`)"
      service: platform
      entryPoints:
        - web

    web:
      rule: "PathPrefix(`/`)"
      service: web
      entryPoints:
        - web

  services:
    platform:
      loadBalancer:
        servers:
          - url: "http://bunbase-platform:3001"

    web:
      loadBalancer:
        servers:
          - url: "http://bunbase-web:80"
